<a routerLink="/admin/catalogo" class="section">
    <h1 class="section-title">Gestionar Catalogos</h1>
</a>

<div class="container-mobile" *ngIf="!loading">
    <div *ngFor="let catalog of catalogs" class="catalog-item">
        <div class="catalog-info-container">
            <div class="catalog-image">
                <img [src]="catalog.img" alt="{{ catalog.name }}">
            </div>
            <div class="catalog-details">
                <h3>{{ catalog.name }}</h3>
            </div>
        </div>
        <div class="catalog-actions">
            <button class="action-button edit" (click)="editCatalog(catalog)">
                <span class="material-icons">edit</span> Editar
            </button>
            <button class="action-button delete" (click)="deleteCatalog(catalog)">
                <span class="material-icons">delete</span> Eliminar
            </button>
        </div>
    </div>
</div>