.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: 2.5rem;
    background-color: #750f72;
    color: white;
    padding: 0.5rem;
}

label {
    font-weight: 500;
    color: white;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}

input[type="radio"] {
    display: none;
}

.radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #750f72;
    height: 4rem;
    border: none;
    color: white;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-label i {
    margin-right: 0.5rem;
}

input[type="radio"]:checked+span {
    background-color: #30092E;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}


/* ORDER SECTION */
.order-summary {
    background-color: #a64ca6;
    color: white;
    padding: 20px;
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1rem;
}

.order-summary h2 {
    margin: 0 0 15px;
    font-size: 1.5rem;
}

.order-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-item {
    margin-bottom: 15px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.product-name {
    font-weight: bold;
}

.product-options {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
}

.option-item {
    display: flex;
    justify-content: space-between;
}

.shipping-cost {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid white;
    padding-top: 10px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.total-price {
    font-size: 1.4rem;
}