.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.col {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: 2.5rem;
    background-color: var(--order-number);
    color: white;
    padding: 0.5rem;
}

label {
    font-weight: 500;
    color: white;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}

input[type="radio"] {
    display: none;
}

.radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: var(--order-number);
    height: 4rem;
    border: none;
    color: white;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.radio-label i {
    margin-right: 0.5rem;
}

.radio-label.active {
    background-color: var(--order-sumary-color);
}

/* Campo inválido con animación */
.invalid {
  border: 1px solid red;
  animation: shake 0.2s ease-in-out 2;
}

.invalid-radio {
  border: 1px solid red;
  animation: shake 0.2s ease-in-out 2;
}

/* Mensaje de error con fade-in */
.error-msg {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  opacity: 0;
  animation: fadeIn 0.4s forwards;
}

/* Animación de fadeIn */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Animación tipo "sacudida" para campos inválidos */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}
