<a (click)="goBack()" class="section aling-elements">
    <i class="fa-solid fa-arrow-left fa-2xl ms-3"></i>
    <h2> {{ product.name }}</h2>
</a>
<div class="container">
    <div class="center-elements flex-column">
        <img src="{{ product.image }}" alt="">
        <div class="description">
            <div class="aling-elements space-between-elements">
                <h1>Descripción</h1>
                <h1 style="margin-right: 1rem;">$ {{ product.price }}</h1>
            </div>

            <p>{{ product.description }}</p>

            <h1>Personalizar</h1>

            <div *ngFor="let option of product.options">
                <div class="option aling-elements">
                    
                    <input (click)="updateOption(option)" class="custom-checkbox" type="checkbox"
                    id="option{{ option.id }}" name="option{{ option.id }}" value="option{{ option.id }}">
            
                    <label for="option{{ option.id }}">
                        {{ option.name }}
                        <span *ngIf="option.price > 0">| $ {{ option.price }}</span>
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>