<a (click)="goBack()" class="section aling-elements">
    <i class="fa-solid fa-arrow-left fa-2xl ms-3"></i>
    <h2> {{ product.name }}</h2>
</a>
<div class="container">
    <div class="center-elements flex-column">
        <img src="/assets/images/hamburguesa.png" alt="">
        <div class="description">
            <h2>Ingredientes</h2>
            <ul>
                <li>500g de carne de res</li>
                <li>2 rodajas de queso cheddar</li>
                <li>4 tiras de tocino</li>
                <li>Lechuga fresca</li>
                <li>1 tomate en rodajas</li>
                <li>1 cebolla caramelizada</li>
                <li>Pan brioche</li>
            </ul>

            <div class="line"></div>

            <h2>Personalizar</h2>
            <ul>
                <li *ngFor="let option of product.options">
                    <div class="option aling-elements">
                        <label for="option{{ option.id }}">
                            {{ option.name }}
                            <span *ngIf="option.price > 0">| $ {{ option.price }}</span>
                        </label>
                        <input (click)="updateOption(option)" class="custom-checkbox" type="checkbox"
                            id="option{{ option.id }}" name="option{{ option.id }}" value="option{{ option.id }}">
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</div>