<a routerLink="/home" class="section aling-elements">
    <i class="fa-solid fa-arrow-left fa-2xl ms-3"></i>
    <h1>{{ catalog.name }}</h1>
</a>
<div class="container">
    <loading-component *ngIf="loading"></loading-component>
    <div *ngIf="!loading">
        <div class="row">
            <div class="col-12 col-lg-4" *ngFor="let product of products">
                <div class="item" (click)="openProduct(product)">
                    <div class="item-image">
                        <img [src]="product.image" >
                    </div>
                    <div class="item-content">
                        <div>
                            <p class="product-name">{{ formatTextAvoidOrphans(product.name)  }}</p>
                        </div>
                        <div class="description">
                            <p class="product-description" >{{ product.description }}</p>                                
                            <p class="product-price">$ {{ formatNumberWithCommas(product.price) }}</p>  
                        </div>    
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
