
.item i {
    margin-right: 1rem;
    font-size: 28px;
}

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--footer-color);
    color: white;
    text-align: center;
    padding: 15px;
}

.footer p {
    margin: 0 !important;
    margin-left: 1rem;
    margin-right: 3rem;
}

.item {
    margin-top: 1rem;
    display: flex;
    align-items: stretch; /* para que la imagen y el contenido tengan la misma altura */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    height: 8rem;
    overflow: hidden;
    color: white;
}

.item-image {
    width: 30%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem 0 0 0.5rem;
    flex-shrink: 0;
    padding: 0.5rem;
    border-radius: 1rem;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.item p {
    font-weight: 600;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}



.description {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-name {
    font-size: 1rem;
    margin-left: 0.3rem !important;
}

.product-description {
    flex: 6;
    font-size: 0.8rem;
    margin-top: 0.5rem !important;
    margin-left: 0.3rem !important;
    color: var(--description-color);
}

.product-price {
    flex: 3;
    
}
