<div class="dropdown" [ngClass]="{'show': isMenuOpen}">
    <div class="dropdown-content">
        <a routerLink="/home" (click)="emitIsMenuOpen()">
            <span class="material-icons">home</span>
            <h3>Home</h3>
        </a>
        <a routerLink="" (click)="showSchedules()">
            <span class="material-icons">info</span>
            <h3>Informacion</h3>
        </a>
        <button (click)="mostrarUbicacion()">
            <span class="material-icons">location_on</span>
            <h3>Ubicacion</h3>
        </button>
        <a href="https://www.instagram.com/el.pabelloon?igsh=MTZnODJ0aXZ3MHk4YQ%3D%3D" target="_blank" rel="noopener" (click)="emitIsMenuOpen()">          
            <i class="fa-brands fa-instagram"></i>
            <h3>Instagram</h3>
        </a>
    </div>
</div>