<div class="dropdown" [ngClass]="{'show': isMenuOpen}">
    <div class="dropdown-content">
        <a routerLink="/home">
            <span class="material-icons">home</span>
            <h3>Home</h3>
        </a>
        <a routerLink="">
            <span class="material-icons">info</span>
            <h3>Informacion</h3>
        </a>
        <a routerLink="">
            <span class="material-icons">location_on</span>
            <h3>Ubicacion</h3>
        </a>
        <a routerLink="">          
            <i class="fa-brands fa-instagram"></i>
            <h3>Instagram</h3>
        </a>
    </div>
</div>