.menu-item {
    background-color: #1a1a1a;
    border-radius: 15px 15px;
    padding: 20px;
    color: white;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.truncate-text {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.menu-footer span {
    font-weight: 600;
    color: #781c75;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.menu-title {
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.menu-price {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-options {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-options li {
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
    margin-left: 0.4rem;
    color: white;
}

.menu-options li:before {
    content: "•";
    margin-right: 10px;
}

.rectangle {
    margin-top: 1rem;
    background-color: #7B4D69;
    height: 100%;
    border-radius: 1rem;
}

.order-number {
    width: 100%;
    background-color: #620F5F;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 1rem;
}

.order-number span {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.no-product-container {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.product-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}