<div class="container">
    <div class="rectangle">
        <div class="order-number">
            <span>Pedido: #{{ order.id }}</span>
        </div>
        <div class="row">
            <div class="col-12" *ngFor="let product of order.products">
                <div class="menu-item">
                    <div class="row">
                        <div class="col-10 col-md-11">
                            <div class="menu-title"> <span class="truncate-text"> {{ product.name }} </span> | ${{
                                product.price - getOptionsPrice(product) }}</div>
                            <ul class="menu-options">
                                <ng-container *ngFor="let option of product.options">
                                    <li *ngIf="option.isSelected">
                                        <span>{{ option.name }}</span>
                                        <span *ngIf="option.price > 0"> | ${{ option.price }}</span>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                        <div class="col-1 mb-3">
                            <div class="red-cross hover-hand" (click)="removeProduct(product)"></div>
                        </div>
                    </div>
                </div>
                <div class="menu-footer">
                    <span>Total: ${{ product.price }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" *ngIf="order.products.length === 0">
                <div class="no-product-container">
                    <h2>No cuenta con productos en el carrito</h2>
                </div>
            </div>
        </div>
    </div>
</div>