.menu-item {
    border-radius: 15px 15px;
    color: white;
    margin-bottom: 1rem;
    width: 100%;
}

.truncate-text {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height: 1.2;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.menu-title {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.menu-price {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-options {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.order-number {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

.order-number span {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.no-product-container {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.product-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.total {
    color: white;
    font-weight: 600;
    text-align: end;
}


@media screen and (min-width: 1000px) {
    .menu-title {
        font-size: 1rem;
    }

    .menu-options {
        font-size: 0.8rem;
    }

    .red-x {
        width: 25px;
        height: 25px;
    }

    .total {
        font-size: 1.5rem;
    }

    .product-image {
        width: 100%;
    }
}