<nav class="navbar navbar-light black">
    <a class="navbar-brand center-elements">
        <div class="menu-icon" (click)="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <img src="assets/images/pabellon-navbar.svg" class="d-inline-block align-top ms-2 image-size" alt="">
    </a>
    <div class="dropdown" [ngClass]="{'show': isMenuOpen}">
        <a href="#">Opción 1</a>
        <a href="#">Opción 2</a>
        <a href="#">Opción 3</a>
    </div>
</nav>