.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.setting-item {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  margin-bottom: 1rem;
  width: 100%;
}

.setting-item label {
  width: 20%;
  min-width: 120px;
  font-weight: 600;
  text-align: left;
}

.setting-item input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  max-width: 80%;
}

.save-button {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: var(--footer-color);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

form {
  text-align: center;
}

.hour {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  width: 2rem;
  height: 2rem;
  transform: scale(2);
  cursor: pointer;
  margin-left: 0.4rem;
}

@media screen and (min-width: 1000px) {    

}