<div class="form-container">
    <div class="login-container">
        <div class="row">
            <div class="col">
                <label for="">Usuario</label>
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Contraseña</label>
                <input type="password">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" (click)="login()">Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>
