<div class="layout">
  <ng-container *ngIf="!isAdminRoute">
    <app-navbar *ngIf="!isMobile" [isMobile]="isMobile"></app-navbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
    <app-footer 
      *ngIf="footerConfig.ShowFooter"
      (click)="actionFooter()" 
      [title]="footerConfig.title" 
      [ShowIcon]="footerConfig.ShowIcon" 
      [showSpan]="footerConfig.ShowSpan">
    </app-footer>
    <app-add-to-order *ngIf="footerConfig.ShowAddToOrder"></app-add-to-order>
    <app-navbar *ngIf="isMobile" [isMobile]="isMobile"></app-navbar>
  </ng-container>

  <ng-container *ngIf="isAdminRoute">
    <app-admin-navbar *ngIf="!isLoginRoute"></app-admin-navbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </ng-container>
</div>

