<div class="collapse-container" #collapseContainer>
    <button (click)="toggleCollapse(collapseContainer)" class="collapse-button">
        <span class="title">{{ title }}</span>
        <div class="chevron-down" [class.rotate]="!isCollapsed"></div>
    </button>

    <div class="collapse-content" [class.collapsed]="!isCollapsed">
        <div class="options-container">
            <div *ngFor="let option of options">
                <div class="option aling-elements">                    
                    <label for="option{{ option.id }}">
                        {{ option.name }} 
                        <span *ngIf="option.price > 0">| $ {{ option.price }}</span>
                      </label>
                    <input (click)="updateOption(option)" class="custom-checkbox" type="checkbox" id="option{{ option.id }}" name="option{{ option.id }}" value="option{{ option.id }}">
                </div>
            </div>
        </div>   
    </div>
</div>