.collapse-container {
    margin: 1rem;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #393939;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem
}

button:hover {
    /* REVISA ESTO TENES QUE HACER EL HOVER*/
    background-color: #393939;
}

.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    opacity: 0;
    margin-top: 0rem;
}

.options-container {
    background-color: #393939;
    padding: 1rem;
}

.collapse-content:not(.collapsed) {
    max-height: 300px;
    opacity: 1;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.option label {
    color: white;
    font-size: larger;
    font-weight: 400;
    margin-right: 1rem;
}

.option input {
    color: white;
    font-size: larger;
    font-weight: 400;
    margin-right: 1rem;
}


/* CHEKBOX */
.custom-checkbox {
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #6e6e6e;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}


.custom-checkbox:checked {
    background-color: #7B0C66;
    border-color: #7B0C66;
}

.custom-checkbox:checked::before {
    content: '\2713';
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Efecto al pasar el mouse sobre el checkbox */
.custom-checkbox:hover {
    border-color: #7B0C66;
}

/* Estilo de la etiqueta */
.option-label {
    margin-right: 10px;
    /* Da espacio entre la etiqueta y el checkbox */
}

.collapse-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.title {
    flex: 1;
    text-align: center;
}

.chevron-down {
    border-color: white;
    transition: transform 0.3s ease; 
}

.rotate {
    transform: rotate(135deg); /* Gira la flecha hacia arriba */
}