.catalog-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 19rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.catalog-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.catalog-container h1 {
    color: white;
    position: relative; 
    z-index: 2; 
}

@media screen and (min-width: 1400px) {    
    .catalog-container {
        width: 25rem;
    }
    .catalog-container h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1300px) {
    .catalog-container h1 {
        font-size: 2rem;
    }
}
